<div class="doc-body">
    <small><%= doc.category %></small>
    <h1><%= doc.title %></h1>
    <hr>
    <article>
        <%- doc.contents %>
    </article>

    <% if(doc.contributors) { %>
    <%- include('partials/contributors', { contributors: doc.contributors }) %>
    <% } %>
</div>
